<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
  </head>
  <body>
    {{{body}}}
  </body>

  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script src="http://api3.geo.admin.ch/loader.js?lang=en" type="text/javascript"></script>
  <script type="text/javascript" src="/javascripts/wgs84_ch1903.js"></script>
  <script type="text/javascript" src="/javascripts/initMap.js"></script>
  <script type="text/javascript" src="/javascripts/serverCalls.js"></script>
</html>
