<h1>Testing</h1>

<p id="errors">{{errors}}</p>


<p id="testStatus">Teststatus: {{testStatus}}</p>
<p id="requestsDone">{{amountOfRequestsDone}} of {{amountOfRequests}}</p>


<button id="getNewStatus">GetNewTestStatus</button>


<script type="text/javascript" src="/javascripts/getTestStatus.js"></script>