<form action="/startTest" method="post">
    <label for="version" style="padding-left: 0">Select Version:</label>
    <select name="version" id="version">
        <option selected disabled hidden>Choose here</option>
        <option value="v1">v1</option>
        <option value="v2">v2</option>
    </select>
    <br>
    <input type="submit" value="Testen" />
</form>
