body {
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  padding-left: 2em;
}

select, input {
  margin-top: 0.5em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 5px;
}

#queryButton {
  display: block;
}

#timespanTable {
    float: left;
    margin-right: 10px;
}

#velocityTable {
  margin-bottom: 10px;
}

/*Leaflet Map*/
#mapOsm {
  width: 700px;
  height: 400px;
  display: inline-block;
}

/*GeoAdmin Map*/
#mapGeoAdmin {
  height: 400px;
  width: 40%;
  display: inline-block;
}
